[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "test"
url = "https://test.pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=6.1.2"

[packages]
zeppos-microsoft-sql-server = ">=0.0.17"
zeppos-logging = ">=1.0.6"

[requires]
python_version = "3.8"
